
/PlatformerBurbuja/.vs
PlatformerBurbuja/.vsconfig
*.csproj
/PlatformerBurbuja/Library
/PlatformerBurbuja/Logs
*.sln
/PlatformerBurbuja/Temp
/PlatformerBurbuja/UserSettings
/PlatformerBurbuja/obj
/build_web
/build_windows
BackToTheBottle_windows.zip
